# Dependencies
node_modules/

# Production build
build/

# Testing
coverage/

# Misc
.DS_Store
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
